
.hero-title{

}

.selling-points{
  padding: 0px;
  box-shadow: 0px 1px 5px;
  background-color: greenyellow;
}

.point-title{
}

.point-description{
  padding: .5rem;
  line-height: 1.6em;
}

.landing{
  background-color: ;
}
